{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}" />
{% endblock extra_css %}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <h1 class="navbar-logo">{{ nama_aplikasi }}</h1>
      <a href = "{% url 'main:logout' %}" >
        <button type="button" class="btn btn-logout">Logout</button>
      </a>  
    </div>
  </nav>

  
  <div class = "main-content">
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <h5>Nama: {{ nama }}</h5>
    <h5>Class: {{ kelas }}</h5>

    <p>Kamu menitipkan {{ items.count }} barang ini:</p>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
            <div class="card">
                <h5 class="card-header" {% if forloop.last %} id="last-item"{% endif %}>{{item.name}}</h5>
                <div class="card-body" {% if forloop.last %} id="last-body"{% endif %}>
                <h5 class="card-title">Jumlah: {{item.amount}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a href="{% url 'main:delete_item' item.id %}" class="btn btn-hapus">Delete Item</a>
                </div>
            </div>

        {% endfor %}

    

    <a id="btn-add" href="{% url 'main:add_item' %}">
        <button type="button" class="btn btn-add">
            Tambahkan Barang
        </button>
    </a>

</div>
{% endblock content %}