{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Register</title>
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
{% endblock extra_css %}
{% endblock meta %}


{% block content %}  

<div class = "login">
    
    <h1>Register</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                </tr>  
            </table>  
            <input class="btn register_btn" type="submit" name="submit" value="Daftar"/>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}